.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 260px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #3A3F42; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }

  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    border: solid 2px black;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  button{
    border: 1px solid transparent;
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
    font-size: 90%;
    margin-left: 1%;
    
    
  }


  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }

  /* Style page content */
  #main {
    margin-left: 260px; /* Same as the width of the sidebar */
    height: 100%;
    font-size: 250%;
    background-color:rgb(226, 240, 255);


    
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  input, select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 70%;
  }

  select{
   width: 15%;
    
   
  }

  table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }

  td {
    border: 2px solid black;
    padding: 8px;
    
  }

  th {
    border: 3px solid black;
    padding: 8px;
    
  }

  .floatButton {
              background-color : #31B0D5;
              color: white;
              padding: 10px 20px;
              border-radius: 4px;
              border-color: #46b8da;
              position: fixed;
              bottom: 10px;
              right: 5px;
              
            }

  

  
